[submodule "TurboJSON_src/TurboJSON"]
	path = TurboJSON_src/TurboJSON
	url = https://github.com/FlyingJester/TurboJSON
[submodule "src/platform/monitor/libyyymonitor"]
	path = src/platform/monitor/libyyymonitor
	url = https://github.com/FlyingJester/libyyymonitor
[submodule "res/fonts/sgi"]
	path = res/fonts/sgi
	url = https://github.com/sphere-group/sgi_screen
[submodule "res/fonts/selawik"]
	path = res/fonts/selawik
	url = https://github.com/sphere-group/selawik
